<div class="container-fluid">
<div class="wrapper">
	<div class="row">
       <div class="col-md-7">
			<h1>Current Events</h1>
			<div class="current-events-container">
				<div class="current-event" ng-repeat="curEvent in currentEvents track by $index">
					<h3>{{ curEvent.name }} <small>{{ curEvent.type }}</small></h3>
					<p>Event Host: {{ curEvent.host }}</p>
					<div class="row">
						<div class="col-sm-6">
							<p><strong><i class="fa fa-calendar"></i> Event Start:</strong> {{ curEvent.startDate | date:"medium" }}</p>
							<p><strong><i class="fa fa-calendar"></i> Event End:</strong> {{ curEvent.endDate | date:"medium" }}</p>
							<p>
								<strong ng-if="curEvent.address">Address:</strong>
								<address ng-if="curEvent.address">
									{{ curEvent.address }} <br>
									{{ curEvent.city }}<br>
									{{ curEvent.country }}, {{ curEvent.zip }}
								</address>
							</p>
							<p ng-if="curEvent.additionalInfo"><strong>Details:</strong><br>{{ curEvent.additionalInfo }}</p>
						</div>
						<div class="col-sm-6">
							<p><strong>Guest List</strong></p>
							<ul>
								<li ng-repeat="(index, guest) in curEvent.guestList">{{ guest }}</li>
							</ul>
						</div>
					</div>
					<hr>
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<div class="text-right">
				<button class="btn btn-danger" ng-click="logout()">Logout</button>
			</div>
				<h1>Meet Up Planner</h1>
				<form method="post" ng-submit="addEvent(eventForm.$valid)" name="eventForm">
					<h3>Event Information</h3>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group" ng-class="{ 'has-error' : eventForm.name.$touched && eventForm.name.$invalid }">
								<label class="control-label" for="eventName">Name of Event</label>
								<input type="text" class="form-control" name="name" ng-model="newEvent.name"
									id="eventName" required autofocus>
								<p ng-show="eventForm.name.$touched && eventForm.name.$error.required" class="help-block">Event name is required.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group" ng-class="{ 'has-error' : eventForm.eventType.$touched && eventForm.eventType.$invalid }">
								<label class="control-label" for="eventType">Type of Event</label>
								<input list="eventType" class="form-control" name="eventType" ng-model="newEvent.type" required>
								<p ng-show="eventForm.eventType.$touched && eventForm.eventType.$error.required" class="help-block">Event Type is required.</p>
								<datalist id="eventType">
									<option value="Birthday"></option>
									<option value="Office"></option>
									<option value="Concert"></option>
									<option value="Meeting"></option>
									<option value="Other"></option>
								</datalist>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group" ng-class="{ 'has-error' : eventForm.eventHost.$touched && eventForm.eventHost.$invalid }">
								<label class="control-label" for="eventHost">Event Host</label>
								<input type="text" class="form-control" name="eventHost" ng-model="newEvent.host"
									id="eventHost" required>
								<p ng-show="eventForm.eventHost.$touched && eventForm.eventHost.$error.required"
									class="help-block">Event host is required.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<div class="form-group" ng-class="{ 'has-error' : (eventForm.eventStart.$touched) && eventForm.eventStart.$invalid }">
								<label class="control-label" for="eventStart">Event Start Date/Time</label>
								<input type="datetime-local" class="form-control" name="eventStart"
									ng-model="newEvent.startDate" id="eventStart" required>
								<p ng-show="eventForm.eventStart.$touched && eventForm.eventStart.$error.required"
									class="help-block">Start Date is required.</p>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="form-group" ng-class="{ 'has-error' : eventForm.eventEnd.$touched && eventForm.eventEnd.$invalid }">
								<label class="control-label" for="eventEnd">Event End Date/Time</label>
								<input type="datetime-local" class="form-control" name="eventEnd"
									ng-model="newEvent.endDate" id="eventEnd" required>
								<p ng-show="eventForm.eventEnd.$touched && eventForm.eventEnd.$error.required"
									class="help-block">End Date is required.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group" ng-class="{ 'has-error' : eventForm.guestList.$touched && eventForm.guestList.$invalid }">
								<label class="control-label" for="guest">Guests</label>
								<input type="text" ng-model="newEvent.guestList" id="guest" class="form-control" name="guestList"
									ng-list placeholder="John, Marie, Joseph" required>
								<span class="help-block">Enter Guests separated by commas</span>
								<p ng-show="eventForm.guestList.$touched && newEvent.guestList.$error.required" class="help-block">Guests are required.</p>
							</div>
							<div class="form-group">
								<button class="btn btn-primary" id="addGuest" ng-click="addGuest()" type="button">Add Guest</button>
							</div>
						</div>
						<div class="col-sm-6">
							<h4>Current guest list</h4>
							<p ng-if="newEvent.guestList.length === 0">No guests added yet!</p>
							<ul class="list-unstyled guest-list">
								<li ng-repeat="guest in newEvent.guestList track by $index">{{guest}}</li>
							</ul>
						</div>
					</div>
					<hr>
					<h3>Location Information</h3>
					<div class="row">
						<div class="col-xs-6">
							<div class="form-group" ng-class="{ 'has-error' : eventForm.address.$touched && eventForm.address.$invalid }">
								<label class="control-label" for="address">Address</label>
								<input type="text" class="form-control" name="address" ng-model="newEvent.address" id="address"
									autocomplete="shipping street-address" required>
								<p ng-show="eventForm.address.$touched && eventForm.address.$error.required" class="help-block">Address is required.</p>
							</div>
							<div class="form-group" ng-class="{ 'has-error' : eventForm.city.$touched && eventForm.city.$invalid }">
								<label class="control-label" for="city">City</label>
								<input type="text" class="form-control" name="city" id="city" ng-model="newEvent.city"
									autocomplete="shipping locality" required>
								<p ng-show="eventForm.city.$touched && eventForm.city.$error.required" class="help-block">City is required.</p>
							</div>
							<div class="form-group" ng-class="{ 'has-error' : eventForm.state.$touched && eventForm.state.$invalid }">
								<label class="control-label" for="state">State</label>
								<input type="text" class="form-control" name="state" id="state" ng-model="newEvent.state"
									autocomplete="shipping region" required>
								<p ng-show="eventForm.state.$touched && eventForm.state.$error.required" class="help-block">State is required.</p>
							</div>
							<div class="form-group" ng-class="{ 'has-error' : eventForm.zip.$touched && eventForm.zip.$invalid }">
								<label class="control-label" for="zip">Postal Code</label>
								<input type="text" class="form-control" name="zip" id="zip" ng-model="newEvent.zip"
									autocomplete="shipping postal-code" pattern="^\d{5,6}(?:[-\s]\d{4})?$" required>
								<p ng-show="eventForm.zip.$touched && eventForm.zip.$error.required" class="help-block">Postal Code is required.</p>
								<p ng-show="eventForm.zip.$touched && eventForm.zip.$error.pattern" class="help-block">Postal Code is 5-6 Digits</p>
							</div>
							<div class="form-group" ng-class="{ 'has-error' : eventForm.country.$touched && eventForm.country.$invalid }">
								<label class="control-label" for="country">Country</label>
								<input type="text" class="form-control" name="country" id="country" ng-model="newEvent.country"
									autocomplete="shipping country" required>
								<p ng-show="eventForm.country.$touched && eventForm.country.$error.required" class="help-block">Country is required.</p>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="form-group">
								<label class="control-label" for="additionalInfo">Additional Information about event</label>
								<textarea ng-model="newEvent.additionalInfo" name="addtInfo" id="additionalInfo" class="form-control" rows="2"></textarea>
							</div>
						</div>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-success" ng-disabled="eventForm.$invalid" value="Add Event" />
					</div>
				</form>
		</div>
	</div>
</div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8U8emrSw3PRw0CBtqjjsqT5ktat-FiFw&signed_in=true&callback=initMap"
        async defer></script>
