<div class="container-fluid sign-up">
	<div class="row">
		<div class="col-sm-12">
			<div class="form-container">
				<h1>Register</h1>
				<ul class="alert alert-danger list-group" ng-show="errors">
					<li ng-repeat="error in errors">{{ error.message }}</li>
				</ul>
				<span class="help-block">* Required Fields</span>
				<form ng-submit="processForm(formData.$valid)" name="formData">
					<div class="form-group">
						<label class="control-label" for="name">Name</label>
						<input type="text" id="name" name="name" class="form-control" autofocus autocomplete="name" ng-model="userData.name" />
					</div>
					<div class="form-group" ng-class="{ 'has-error' : formData.email.$touched && formData.email.$invalid }">
						<label class="control-label" for="email">Email <span style="color:red;">*</span></label>
						<input type="email" id="email" name="email"  class="form-control" required autocomplete="email" ng-model="signUpData.email" />
						<p ng-show="formData.email.$touched && formData.email.$error.required" class="help-block">Email is required.</p>
					</div>
					<div class="form-group" ng-class="{ 'has-error' : formData.password.$touched && formData.password.$invalid }">
						<label class="control-label" for="password">Password <span style="color:red;">*</span></label>
						<input type="password" id="password" name="password"  class="form-control" required ng-model="signUpData.password" minlength="5" />
						<p ng-show="formData.password.$touched && formData.password.$error.required" class="help-block">Password is required.</p>
						<p ng-show="formData.password.$touched && formData.password.$error.minlength" class="help-block">Password must have more than 4 characters.</p>
					</div>
					<div class="form-group">
						<label class="control-label" for="bio">Biographical information</label>
						<textarea name="bio" id="bio" class="form-control" rows="2"
							placeholder="(such as employer, job title, birthday, etc)" ng-model="userData.bio"></textarea>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-primary btn-lg" value="Register" ng-disabled="formData.$invalid">
						<a href="/login" class="text-right">Cancel</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
