<div class="container-fluid login">
	<div class="row">
		<div class="col-sm-12">

			<div class="form-container">
				<h1>Login</h1>
				<ul class="alert alert-danger list-group" ng-if="errors">
					<li ng-repeat="error in errors">{{ error.message }}</li>
				</ul>
				<form  ng-submit="login(formData)">
					<div class="form-group">
						<label class="control-label" for="email">Email</label>
						<input type="email" id="email" name="email"  class="form-control" ng-model="formData.email" required>
					</div>
					<div class="form-group">
						<label class="control-label" for="password">Password</label>
						<input type="password" id="password" name="password"  class="form-control" ng-model="formData.password" required>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="remember"> Remember me
						</label>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-lg" ng-disabled="user.$invalid">Login</button>
						<a href="/sign-up">Register</a>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>
