<div class="container-fluid sign-up">
	<div class="row">
		<div class="col-sm-12">
			<div class="form-container">
				<div ng-message="errors"></div>
				<h1>Register</h1>
				<form ng-submit="processForm(formData)">
					<div class="form-group">
						<label class="control-label" for="name">Name</label>
						<input type="text" id="name" name="name" class="form-control" autofocus autocomplete="name" ng-model="formData.name"/>
					</div>
					<div class="form-group">
						<label class="control-label" for="email">Email</label>
						<input type="email" id="email" name="email"  class="form-control" ng-model="formData.email">
					</div>
					<div class="form-group">
						<label class="control-label" for="password">Password</label>
						<input type="password" id="password" name="password"  class="form-control" ng-model="formData.password">
					</div>
					<div class="form-group">
						<label class="control-label" for="bio">Biographical information</label>
						<textarea name="bio" id="bio" class="form-control" rows="2" ng-model="formData.bio"></textarea>
						<span class="help-block">(such as employer, job title, birthday, etc)</span>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-lg">Register</button>
						<a href="/login" class="text-right">Cancel</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
